:root {
    --color-body: #44003B
}

.header {
    height: 150vh;
    background-color: var(--color-body);
    align-items: start;
}

.container__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__caporala {
    width: 70%;
    object-fit: cover;
}

.subtitle{
    margin: 0;
    padding: 0;
    max-width: 600px;
    text-align: center;
}
.subtitle__paragrahp{
    background-color: transparent; 
    font-size: unset; 
    color: unset;
    color: #fff;
    font-size: 2em;
}

.form__form {
    max-width: 600px;
    width: 500;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form__field {
    margin-bottom: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }

  .form__input {
    padding: 1em 1.5em;
    border-radius: .5em;
    outline: none;
  }


  .form__button {
    padding: 10px 10px;
    width: 300px;
    font-size: 20px;
    background-color: #3083FF;
    color: #fff;
    border: none;
    cursor: pointer;
  }

