:root {
    --color-body: #44003B
}

.header {
    height: 150vh;
    background-color: var(--color-body);
    align-items: start;
}

.container__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__caporala {
    width: 80%;
    object-fit: cover;
}

.subtitle{
    margin: 0;
    padding: 0;
}
.subtitle__paragrahp{
    background-color: transparent; 
    font-size: unset; 
    color: unset;
    color: #fff;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .form__field {
    margin-bottom: 10px;
  }

  .form__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form__input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

  .form__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }

